[submodule "spdlog"]
	path = 3rdparty/spdlog/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "3rdparty/glm/glm"]
	path = 3rdparty/glm/glm
	url = git@github.com:g-truc/glm.git
[submodule "3rdparty/json/json"]
	path = 3rdparty/json/json
	url = git@github.com:nlohmann/json.git
[submodule "3rdparty/SDL2/SDL2"]
	path = 3rdparty/SDL2/SDL2
	url = git@github.com:libsdl-org/SDL.git
[submodule "3rdparty/SDL_ttf/SDL_ttf"]
	path = 3rdparty/SDL_ttf/SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
